# reference https://macromates.com/manual/en/language_grammars

name: 'Swift'
scopeName: 'source.swift'
type: 'tree-sitter'
parser: 'tree-sitter-swift'

fileTypes: ['swift']

comments:
  start: '// '

scopes:
  'program': 'source.swift'

  'comment': [
    {
       # Identify 2-3 forward slashes as a line comment.
       match: "^//{2}",
       scopes: 'comment.line'
    },
    # Otherwise, assume it's a block comment.
    'comment.block'
  ]

  # Access Control
  'modifier': 'storage.modifier'
  '"final"': 'storage.modifier'
  '"override"': 'storage.modifier'

  '"import"': 'keyword.control.directive'
  '"#if"': 'keyword.control.directive'
  '"#elseif"': 'keyword.control.directive'
  '"#else"': 'keyword.control.directive'
  '"#endif"': 'keyword.control.directive'
  'build_configuration_statement': 'keyword.control.directive'

  # Data types
  '"class"': 'keyword.class'
  '"struct"': 'keyword.struct'
  '"enum"': 'keyword.enum'
  '"protocol"': 'storage.type'
  '"extension"': 'storage.modifier'

  'class_declaration > identifier': 'storage.class'
  'struct_declaration > identifier': 'storage.struct'

  '"if"': 'keyword.control'
  '"guard"': 'keyword.control'
  '"else"': 'keyword.control'
  '"do"': 'keyword.control'
  '"for"': 'keyword.control'
  '"while"': 'keyword.control'
  '"break"': 'keyword.control'
  '"continue"': 'keyword.control'
  '"return"': 'keyword.control'
  '"switch"': 'keyword.control'
  '"case"': 'keyword.control'
  '"default"': 'keyword.control'
  '"where"': 'keyword.control'
  '"throw"': 'keyword.control'
  '"try"': 'keyword.control'
  '"catch"': 'keyword.control'
  '"as"': 'keyword.control'
  '"in"': 'keyword.operator.in'

  '"get"': 'keyword.operator.setter'
  '"set"': 'keyword.operator.setter'

  # Variables
  '"var"': 'storage.modifier'
  '"let"': 'storage.modifier'

  # Primitive Types
  '"nil"': 'constant.language.nil'
  '"true"': 'constant.language.true'
  '"false"': 'constant.language.false'
  'static_string_literal': 'string.quoted'

  # Functions
  '"func"': 'keyword.function'

  'function_declaration > identifier': 'entity.name.function'
